@model IEnumerable<NoticiasWeb.Models.Noticias>
@{    
    Layout = "~/Views/Shared/_LayoutUser.cshtml";//agregando un layout personalizado
}





@* <thead>
            <tr>
                <th>TITULO</th>
                <th>DESCRIPCION</th>
                <th>IMAGEN </th>

                <th>USUARIO </th>
                <th>FECHA</th>

            </tr>

        </thead>*@
           
  <div class="row text-center">
@*<div class="text-center item-center">*@
    @foreach (var iteracion in Model)
    {                                   @*Este ↓ Margin es para dar espacio arriba y abajo*@
        <div class="card" style="width: 450px; margin-bottom: 30px;">
           <a href="@Url.Action("noticia","MostrarNoticia" , new{id=@iteracion.NoticiaId})">
                <label>Publicado por <td>@iteracion.Usuario.Alias</td></label>
              <div class="text-center">
                <td class="card-center"><img src="~/@iteracion.Imagen" class="imgCars" alt="..." style="width: 350px; height: 200px;"></td>
              </div>
                    <div class="card-body">
                        <h5 class="card-title"> <td>@iteracion.Titulo</td> </h5>                           
            <label> el dia <td>@iteracion.fecha</td></label>
                    </div>
           </a>
        </div>
    
        @*ESTO SIRVE PARA DAR ESPACIO ENTRE CARDS*@
        <div style="width: 30px;"></div>
        
        
        @*   <td>@iteracion.Titulo</td>
    <td>@iteracion.Descripcion</td>
    <td>@iteracion.Imagen</td>
    <td>@iteracion.Usuario</td>
    <td>@iteracion.fecha</td>*@
    }
 
    </div>       
@*</div>*@
